body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  height: 100%;
}
.App {
  height: 100%;
}

/* ======================= */

@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

/* Finish */
.finishInfo {
  display: flex;
  text-align: center;
  font-size: 30px;
}

.auth-wrapper {
  background: #1c8ef9 !important;
}

hr {
  color: #1c8ef9;
}

.menu {
  font-size: 30px;
  text-align: center;
}

.menuBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Menu {
  width: 150px;
  height: 170px;
  margin: 5px;
  background-color: lightblue;
  border-radius: 10px;
}

.imageURL {
  width: 120px;
  height: 120px;
}

.finishImage {
  width: 250px;
  height: 250px;
}
.outerBox {
  border: 1px solid black;
  height: 28rem;
  overflow-y: auto;
  border-radius: 6px;
  margin-bottom: 4px;
  text-align: center;
}
.selectedFoods {
  border: 1px solid black;
  border-radius: 6px;
  padding: 4px;
  margin-bottom: 4px;
  height: 60px;
  overflow: auto;
}
.foodImageForClient,
.menuTitle,
.price {
  pointer-events: none;
}
.orderCalcListUL {
  list-style: none;
  padding: 0;
}
.orderCalcList {
  display: flex;
  justify-content: space-between;
}
