#menuList {
  min-height: 80vh;
  border: 1px solid black;
}
#menuList > h2 {
  display: inline-block;
  border-bottom: 1px solid black;
}
#menuGrid {
  display: grid;
  padding: 2em;
  grid-template-columns: 1fr 1fr;
  row-gap: 1em;
  column-gap: 1em;
  height: 70vh;
  overflow-x: auto;
}
#menuGridItem {
  border: 1px solid black;
  height: 30vh;
}
#addMenuImage {
  background-color: #efefef;
  width: 200px;
  height: 200px;
  color: black;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  text-align: center;
  line-height: 300px;
}
#menuImage {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
