#menuList {
  min-height: 80vh;
  border: 1px solid black;
}
#menuList > h2 {
  display: inline-block;
  border-bottom: 1px solid black;
}
#menuGrid {
  display: grid;
  padding: 2em;
  grid-template-columns: 1fr 1fr;
  row-gap: 1em;
  column-gap: 1em;
  height: 70vh;
  overflow-x: auto;
}
#menuGridItem {
  border: 1px solid black;
  height: 30vh;
  background-color: white;
}
/* 화면에 보여지는 메뉴 이미지 */
#menuGridItem > img {
  background-color: #efefef;
  display: inline-block;
  width: 60%;
  height: 60%;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
#menuGridItem > #menuNoImage {
  background-color: #efefef;
  display: inline-block;
  width: 60%;
  height: 60%;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

/* 메뉴 추가 창에서 */
#addMenuImage {
  background-color: #efefef;
  width: 200px;
  height: 200px;
  color: black;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  text-align: center;
  line-height: 300px;
}
#menuImage {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
