header {
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 0;
}
#siteName {
  margin: 0;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.4rem;
  width: 20rem;
  display: inline-block;
  text-align: left;
  border-bottom: 1px solid black;
}
#storeListComponent {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  margin-top: 5rem;
}
#storeList {
  width: 500px;
  height: 590px;
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}
.container {
  height: 100%;
  border: 1px solid rgb(27, 7, 212);
}
.buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.buttons button {
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 6rem;
  margin-left: 1rem;
  margin-top: 0rem;
  color: white;
}
.buttons .notDeleting {
  color: blue;
}
.buttons .deleting {
  color: white;
}
.deleteSelected {
  background-color: red;
  color: white;
}
#buttonInfo {
  vertical-align: middle;
  display: inline-block;
}
#addStoreImage {
  background-color: #efefef;
  width: 400px;
  height: 300px;
  color: black;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  text-align: center;
  line-height: 300px;
}
#storeImage {
  display: block;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
main {
  height: 100%;
}
footer {
  width: 100%;
  padding: 30px 0;
  text-align: center;
  background-color: rgb(68, 84, 106);
  color: white;
}
#storeManage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#storeMain {
  display: flex;
}
#storeLeftSide {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#storeLeftSide button {
  margin: 0 auto;
  margin-top: 1rem;
  width: 70%;
  border-radius: 0.5rem;
  background-color: rgb(68, 84, 106);
  color: white;
  font-size: 1.5rem;
}
#storeLeftSide button:first-child {
  margin-top: 1.5rem;
}
#storeMiddleSide {
  flex: 1.5;
}
#storeRightSide {
  flex: 1;
}

#staffComponent {
  display: inline-block;
  border: 1px solid black;
  width: 70%;
  height: 60%;
  overflow-y: auto;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
